:root {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
* {
  margin: 0;
  padding: 0;
}
section {
  width: 500px;
  margin: 20px;
}
.btn-container {
  margin: 20px 0px 20px 0px;
}
.wrapper,
button {
  border: 2px solid #8fa2ca;
}
button {
  padding: 15px;
  background-color: aliceblue;
  text-transform: uppercase;
  font-weight: 600;
}
.flex-parent {
  display: flex;
  min-height: 250px;
  margin: 5px;
  border: 1.5px dashed #000000;
}
.flex-child {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.5em;
  min-height: 0.5em;
  padding: 10px;
  margin: 3px;
  color: #0076b2;
  background-color: #bcdcff;
  font-weight: 900;
  font-size: 18px;
}
